#app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
  overflow: hidden; /* Prevent unwanted scrollbars */
}
body {
  margin: 0;
  color: black;
  font-family: sans-serif;
  background-color: #fff;
}
