stages:
  - build
  - test
  - package
  - deploy

variables:
  DEPLOY_MKDOCS: "true"
  DEPLOY_HIC: "false"
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"

cache:
  paths:
    - .m2/repository

before_script:
  - apt-get update -y
  - apt-get install -y maven default-jdk
  - java -version
  - mvn -version

build-job:
  stage: build
  script:
    - mvn clean compile

test-job:
  stage: test
  script:
    - mvn test
  artifacts:
    when: always
    reports:
      junit: target/surefire-reports/*.xml

package-job:
  stage: package
  script:
    - mvn clean package

pages:
  stage: deploy
  script:
    - echo "Deploying documentation..."
  artifacts:
    paths:
      - public

